<div class="main">
  <!-- Sidebar -->
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Main Body -->
  <div class="main-body">
    <header class="header">
      <div class="main-header">
        <div class="search">
          <div class="search-bar">
            <img class="search-icon" src="/assets/search-icon.png" alt="" />
            <input type="text" placeholder="Search any state" />
          </div>
          <button>Search</button>
        </div>
        <h1>JHARKHAND</h1>
      </div>
      <div class="login">
        <a href="">Create account</a>
        <a href="">Log in</a>
      </div>
    </header>
    <main>
      <div class="heading">
        <h1>Introduction</h1>
        <p>
          Jharkhand, state of India, located in the northeastern part of the
          country. Jharkhand is bordered by the states of Bihar to the
          north, West Bengal to the east, Odisha to the south, Chhattisgarh to
          the west, and Uttar Pradesh to the northwest. Its capital is Ranchi.
        </p>
        <p>
          Jharkhand, one of India’s newest states, was carved out of the
          southern portion of Bihar in 2000. Statehood was the culmination of a
          long struggle carried on primarily by the Adivasis, or Scheduled
          Tribes (an official term applied primarily
          to indigenous communities that fall outside the predominant
          Indian caste hierarchy). Indian independence brought relatively little
          socioeconomic benefit to the people of the Jharkhand area, which led
          to widespread discontent with the Bihar administration, particularly
          among the tribal peoples. The tribal groups initiated a call for
          independence from Bihar, and in the 1980s they became militant in
          their demand. In the 1990s, the separation movement spread to
          non-tribal communities, ultimately precipitating the creation of a new
          state. Area 28,833 square miles (74,677 square km). Pop. (2011)
          32,966,238.
        </p>
      </div>
      <div class="text-and-image">
        <div class="text">
          <p>
            Talking about the geography of Jharkhand, it can be said
            that Jharkhand occupies a forest track in the Santhal Parganas and
            the Chhotanagpur plateau. Jharkhand is a mountain region which is
            covered with a dense growth of forests. An estimate of the geography
            of Jharkhand is as follows:
          </p>
          <ul>
            <li>Area - 79,714 square kilometers.</li>
            <li>Area of Cultivable land - 38 lakh hectares</li>
            <li>Net Sown Area - 18.04 lakh hectares.</li>
            <li>
              Total area under plantation and horticulture - 2.57 lakh hectares.
            </li>
            <li>Capital - Ranchi.</li>
            <li>Districts - 18</li>
          </ul>
          <div class="lower-text">
            <ul>
              <ul>
                <li>Chatra</li>
                <li>Hazaribagh</li>
                <li>Deoghar</li>
                <li>Koderma</li>
                <li>Palamu</li>
                <li>Garwa</li>
                <li>Dumka</li>
                <li>Pakur</li>
                <li>Sahibgan</li>
              </ul>
            </ul>
            <ul>
              <li>Dhanbad</li>
              <li>Ranchi</li>
              <li>Gumla</li>
              <li>Lohardagga</li>
              <li>West Singhbhum</li>
              <li>Godda</li>
              <li>East Singhbhum</li>
              <li>Giridih</li>
              <li>Bokaro</li>
            </ul>
          </div>
        </div>
        <img class="image" src="/assets/jharkhand-intro.png" alt="jharkhand" />
      </div>
    </main>
  </div>
</div>
