<div class="container">
  <div>
    <img
      routerLink="/"
      class="logo"
      src="/assets/maverick-logo.svg"
      alt="logo"
    />
    <h4 class="state-title">JHARKHAND</h4>
  </div>
  <div>
    <p>Main Menu</p>
    <div class="border"></div>
    <ul class="sidebar-list">
  <li class="menu-items">
    <a routerLink="/introduction" routerLinkActive="active-link">Introduction</a>
  </li>
  <li class="menu-items">
    <a routerLink="/history" routerLinkActive="active-link">History</a>
  </li>
  <li class="menu-items">
    <a routerLink="/location" routerLinkActive="active-link">Location</a>
  </li>
  <li class="menu-items">
    <a routerLink="/physical-features" routerLinkActive="active-link">
      Physical Features
    </a>
  </li>
  <li class="menu-items">
    <a routerLink="/climate" routerLinkActive="active-link">Climate</a>
  </li>
  <li class="menu-items">
    <a routerLink="/flora-fauna" routerLinkActive="active-link">Flora & Fauna</a>
  </li>
  <li class="menu-items">
    <a routerLink="/arts-crafts" routerLinkActive="active-link">Arts & Crafts</a>
  </li>
  <li class="menu-items">
    <a routerLink="/music-dance" routerLinkActive="active-link">Music & Dance</a>
  </li>
  <li class="menu-items">
    <a routerLink="/industry" routerLinkActive="active-link">Industry</a>
  </li>
  <li class="menu-items">
    <a routerLink="/agriculture" routerLinkActive="active-link">Agriculture</a>
  </li>
</ul>

  </div>
  <div>
    <p>Tourism</p>
    <div class="border"></div>
    <ul class="sidebar-list">
      <li class="menu-items">Places to visit</li>
      <li class="menu-items">Cuisine</li>
      <li class="menu-items">Ethnicity</li>
    </ul>
  </div>
  <p>Images</p>
  <div class="border"></div>
</div>
